/* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Unbounded:300,regular);
@import url(https://fonts.googleapis.com/css?family=Bad+Script:regular);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --radius: 8px;
  --font-family: "Nunito Sans", sans-serif;
  --second-family: "Unbounded", sans-serif;
  --third-family: "Bad Script", sans-serif;
  --light: #ba9fcc;
  --bright: #c1b3d2;
  --purple: #4e267e;
  --white: #ffffff;
  --gray: #d9d9d9;
  --black: #000000;
  --primary: var(--light);
  --primary-dark: var(--purple);
  --primary-bright: var(--bright);
  --standart-bd: 2px solid var(--primary-dark);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 140%;
  color: var(--black);
}
@media (max-width: 1250px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 788px) {
  body {
    font-size: 14px;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.section {
  padding: 25px 0;
}
@media (max-width: 788px) {
  .section {
    padding: 20px 0;
  }
}

.container {
  position: relative;
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1250px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 788px) {
  .container {
    width: 330px;
  }
}
@media (max-width: 1250px) {
  .container--tablet-fluid {
    width: auto;
  }
}
@media (max-width: 788px) {
  .container--mobile-fluid {
    width: auto;
  }
}

.header {
  padding: 30px 0;
}
@media (max-width: 788px) {
  .header {
    padding: 10px 0;
  }
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
}
@media (max-width: 788px) {
  .header__row {
    justify-content: space-between;
  }
}

.header__logo,
a.header__logo {
  display: block;
  width: 78px;
}

.header__nav-btn {
  padding: 2px;
  border: 1px solid var(--white);
  border-radius: var(--radius);
  display: none;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 788px) {
  .header__nav-btn {
    display: block;
  }
}
.header__nav-btn:focus, .header__nav-btn:active {
  border: 1px solid var(--gray);
  box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 788px) {
  .main-nav {
    display: none;
  }
}

.main-nav__list {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
@media (max-width: 1250px) {
  .main-nav__list {
    column-gap: 15px;
  }
}

.main-nav__link,
a.main-nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 18px;
  border: var(--standart-bd);
  border-radius: var(--radius);
  font-family: var(--font-family);
  font-size: 18px;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1250px) {
  .main-nav__link,
  a.main-nav__link {
    padding: 4px 8px;
    font-size: 12px;
  }
}
.main-nav__link:hover,
a.main-nav__link:hover {
  color: var(--primary);
  border-color: var(--primary);
  transition: all 0.3s ease-in-out;
}
.main-nav__link:focus, .main-nav__link:active,
a.main-nav__link:focus,
a.main-nav__link:active {
  color: var(--white);
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  transition: all 0.3s ease-in-out;
}

.mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  opacity: 1;
  pointer-events: all;
  z-index: 100;
}

.mobile-nav__header {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav__body {
  flex-grow: 1;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 45px;
}

.mobile-nav__btn {
  padding: 2px;
  border: 1px solid var(--white);
  border-radius: var(--radius);
  transition: all 0.1s ease-in-out;
}
.mobile-nav__btn:active {
  border: 1px solid var(--gray);
  box-shadow: 2px 2px 4px 0px rgba(34, 60, 80, 0.2);
  transition: all 0.1s ease-in-out;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.mobile-nav-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 18px;
  border: var(--standart-bd);
  border-radius: var(--radius);
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}
.mobile-nav-list a:focus, .mobile-nav-list a:active {
  color: var(--white);
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  transition: all 0.3s ease-in-out;
}

.promo {
  background-image: url("../img/background/bg-01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.promo__header {
  padding: 25px 0;
  display: flex;
  align-items: center;
  background-color: var(--primary);
}
@media (max-width: 1250px) {
  .promo__header {
    padding: 15px 0;
  }
}
@media (max-width: 788px) {
  .promo__header {
    padding: 7px 0;
  }
}

.promo__title {
  font-family: var(--second-family);
  font-size: 40px;
  color: var(--white);
}
@media (max-width: 1250px) {
  .promo__title {
    font-size: 31px;
  }
}
@media (max-width: 788px) {
  .promo__title {
    font-size: 20px;
  }
}

.promo__title-span--small {
  display: block;
  margin-left: 120px;
  line-height: 100%;
}
@media (max-width: 1250px) {
  .promo__title-span--small {
    margin-left: 90px;
  }
}
@media (max-width: 788px) {
  .promo__title-span--small {
    margin-left: 38px;
  }
}

.promo__title-span--large {
  display: inline-block;
  margin-top: -22px;
  font-size: 100px;
  line-height: 100px;
}
@media (max-width: 1250px) {
  .promo__title-span--large {
    margin-top: -16px;
    font-size: 77px;
    line-height: 77px;
  }
}
@media (max-width: 788px) {
  .promo__title-span--large {
    margin-top: -8px;
    font-size: 32px;
    line-height: 32px;
  }
}

.promo__body {
  padding-top: 37px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 84px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media (max-width: 1250px) {
  .promo__body {
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
  }
}
@media (max-width: 788px) {
  .promo__body {
    padding-top: 20px;
    gap: 15px;
  }
}

.promo__img {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-dark);
  border-radius: var(--radius);
  overflow: hidden;
}
@media (max-width: 1250px) {
  .promo__img {
    grid-row: span 1;
  }
}
.promo__img--small {
  grid-row: span 1;
}

.promo__btn {
  grid-row: span 1;
}
@media (max-width: 1250px) {
  .promo__btn {
    margin: 0 auto;
    width: 340px;
    height: 65px;
  }
}

.about {
  background-image: url("../img/background/bg-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about__header {
  position: relative;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 106px;
}
@media (max-width: 1250px) {
  .about__header {
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
  }
}

@media (max-width: 1250px) {
  .about__title {
    max-width: 413px;
  }
}

.about__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.about__service {
  width: 100%;
  padding: 18px;
  text-align: center;
}

.about__content {
  margin-bottom: 67px;
  display: flex;
  flex-direction: column;
  row-gap: 35px;
}
@media (max-width: 1250px) {
  .about__content {
    row-gap: 30px;
  }
}
@media (max-width: 788px) {
  .about__content {
    margin-bottom: 30px;
    row-gap: 20px;
  }
}

.about__text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.about__text--reverse {
  justify-content: flex-end;
}
.about__text p {
  flex-basis: 60%;
}
@media (max-width: 788px) {
  .about__text p {
    flex-basis: 90%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.about__arrow {
  display: block;
  position: absolute;
  top: -10px;
  left: 30%;
  transform: translateX(-50%);
}
@media (max-width: 1250px) {
  .about__arrow {
    top: -15px;
    width: 75px;
  }
}
@media (max-width: 788px) {
  .about__arrow {
    width: 40px;
    position: relative;
    top: -25px;
    left: 20px;
  }
}

.about__footer {
  padding: 10px 0;
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
}
@media (max-width: 1250px) {
  .about__footer {
    font-size: 15px;
  }
}
@media (max-width: 788px) {
  .about__footer {
    font-size: 12px;
  }
}

.about__decor {
  position: absolute;
  display: inline-block;
}
.about__decor--1 {
  top: 0;
  left: 40%;
  transform: rotate(-15.77deg) translate(-50%, -50%);
}
@media (max-width: 1250px) {
  .about__decor--1 {
    top: unset;
    bottom: 0%;
    left: 10%;
    transform: rotate(-15.77deg) translate(-50%, 50%);
  }
}
.about__decor--2 {
  top: 70%;
  right: 15%;
  transform: rotate(16.87deg) translateY(-50%);
}
@media (max-width: 1250px) {
  .about__decor--2 {
    top: unset;
    bottom: 12%;
  }
}
@media (max-width: 788px) {
  .about__decor--2 {
    opacity: 0;
  }
}
.about__decor--3 {
  bottom: 0%;
  left: 10%;
  transform: rotate(-15.77deg) translate(-50%, 0);
}
@media (max-width: 1250px) {
  .about__decor--3 {
    top: 10%;
    bottom: unset;
    left: unset;
    right: 20%;
    transform: rotate(16.87deg) translateY(-50%);
  }
}
@media (max-width: 788px) {
  .about__decor--3 {
    top: 4%;
    right: 8%;
  }
}

.news {
  background-image: url("../img/background/bg-03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.news__slider {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1250px) {
  .news__slider {
    gap: 20px;
  }
}

.news__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.news__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--gray);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.news__dot.active {
  background-color: var(--primary-dark);
}
.news__dot:hover {
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
}
.news__dot:active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.news {
  background-image: url("../img/background/bg-03.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.news__slider {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1250px) {
  .news__slider {
    gap: 20px;
  }
}

.news__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.news__dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--gray);
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.news__dot.active {
  background-color: var(--primary-dark);
}
.news__dot:hover {
  background-color: var(--primary);
  transition: all 0.3s ease-in-out;
}
.news__dot:active {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.new {
  flex: 1;
  max-width: 380px;
}
@media (max-width: 1250px) {
  .new {
    max-width: 359px;
  }
}

.new__header {
  margin-bottom: 30px;
  position: relative;
  border-radius: var(--radius);
  border: var(--standart-bd);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media (max-width: 1250px) {
  .new__header {
    margin-bottom: 20px;
  }
}
@media (max-width: 788px) {
  .new__header {
    margin-bottom: 15px;
  }
}

.new__img {
  width: 376px;
  height: 376px;
}
@media (max-width: 1250px) {
  .new__img {
    width: 355px;
    height: 355px;
  }
}
@media (max-width: 788px) {
  .new__img {
    width: 100%;
    height: auto;
  }
}

.new__date {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 9px 22px;
  border: 2px solid var(--primary-dark);
  border-radius: var(--radius);
  background-color: var(--white);
  font-size: 16px;
}
@media (max-width: 1250px) {
  .new__date {
    bottom: 15px;
    right: 15px;
    padding: 6px 18px;
    font-size: 12px;
  }
}
@media (max-width: 788px) {
  .new__date {
    bottom: 10px;
    right: 10px;
    font-size: 10px;
  }
}

.new__content {
  margin-bottom: 10px;
}

.new__link,
a.new__link {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-in-out;
}
.new__link:hover,
a.new__link:hover {
  color: var(--primary-dark);
  border-color: var(--primary-dark);
  transition: all 0.2s ease-in-out;
}
.new__link:active,
a.new__link:active {
  color: var(--primary);
  border-color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.statistics {
  padding: 50px 0;
  background-color: var(--primary);
}
@media (max-width: 1250px) {
  .statistics {
    padding: 40px 0;
  }
}

.statistics__header {
  margin-bottom: 18px;
  display: grid;
  grid-template-columns: 53px max-content;
  grid-template-rows: repeat(2, auto);
}
@media (max-width: 788px) {
  .statistics__header {
    grid-template-columns: 10px max-content;
  }
}

.statistics__title {
  grid-column: span 2;
  margin-bottom: 8px !important;
}

.statistics__title-divider {
  grid-column: span 1;
  width: 100%;
  height: 100%;
  border-top: 2px solid var(--primary-dark);
  border-right: 2px solid var(--primary-dark);
}
@media (max-width: 788px) {
  .statistics__title-divider {
    border-width: 1px;
  }
}

.statistics__subtitle {
  grid-column: span 1;
  padding: 0 12px 12px 12px;
  border-bottom: 2px solid var(--primary-dark);
  font-family: var(--second-family);
  line-height: 100%;
  font-weight: 300;
  font-size: 40px;
  color: var(--white);
}
@media (max-width: 1250px) {
  .statistics__subtitle {
    padding: 0 10px 10px 10px;
    font-size: 25px;
  }
}
@media (max-width: 788px) {
  .statistics__subtitle {
    padding: 0 4px 4px 4px;
    border-width: 1px;
    font-size: 12px;
  }
}

.statistics__content {
  margin-bottom: 40px;
  color: var(--white);
}
@media (max-width: 1250px) {
  .statistics__content {
    margin-bottom: 30px;
  }
}
@media (max-width: 788px) {
  .statistics__content {
    margin-bottom: 20px;
  }
}

.statistics__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1250px) {
  .statistics__cards {
    flex-wrap: wrap;
  }
}

.statistics__card {
  max-width: 380px;
  height: 336px;
}
@media (max-width: 1250px) {
  .statistics__card {
    margin: 0 auto;
    max-width: 350px;
    height: 232px;
  }
  .statistics__card:last-child {
    max-width: 416px;
  }
}
@media (max-width: 788px) {
  .statistics__card {
    margin: 0;
    width: 100%;
    height: 176px;
  }
}

.statistics__card-body {
  position: relative;
  padding: 20px;
  text-align: left;
}

@media (max-width: 788px) {
  .statistics__card-content {
    max-width: 200px;
  }
}

.statistics__index {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 55px;
  line-height: 140%;
  color: var(--primary-dark);
}
@media (max-width: 1250px) {
  .statistics__index {
    font-size: 40px;
  }
}
@media (max-width: 788px) {
  .statistics__index {
    font-size: 30px;
  }
}

.statistics__img {
  position: absolute;
  bottom: 0;
  right: 5px;
}
@media (max-width: 788px) {
  .statistics__img {
    right: 0;
  }
}

.prevention {
  background-image: url("../img/background/bg-04.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.preveniton__body {
  position: relative;
}

.prevention__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
}
@media (max-width: 788px) {
  .prevention__info {
    margin-bottom: 20px;
  }
}
.prevention__info p {
  max-width: 50%;
}
@media (max-width: 788px) {
  .prevention__info p {
    max-width: 100%;
  }
}

.prevention__decor {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: scaleX(-1);
}
@media (max-width: 1250px) {
  .prevention__decor {
    top: 15%;
    left: 20%;
  }
}
@media (max-width: 788px) {
  .prevention__decor {
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.prevention__cards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1250px) {
  .prevention__cards {
    gap: 20px;
  }
}
@media (max-width: 788px) {
  .prevention__cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.prevention__card {
  flex-basis: 31%;
  min-width: 106px;
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 10px;
  border-radius: var(--radius);
  font-size: 16px;
  line-height: 120%;
  color: var(--white);
  background-color: var(--primary-dark);
}
@media (max-width: 1250px) {
  .prevention__card {
    padding: 15px;
    font-size: 12px;
  }
}
.prevention__card--main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--standart-bd);
  background-color: var(--white);
}
.prevention__card--main p {
  font-size: 24px;
  line-height: 100%;
  font-family: var(--second-family);
  color: var(--primary-dark);
  text-align: center;
}
@media (max-width: 1250px) {
  .prevention__card--main p {
    font-size: 16px;
  }
}

.prevention__step {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 32px;
  line-height: 100%;
  color: var(--primary);
}
@media (max-width: 1250px) {
  .prevention__step {
    font-size: 21px;
  }
}
@media (max-width: 788px) {
  .prevention__step {
    font-size: 18px;
  }
}

.symptoms {
  padding: 50px 0;
  background-color: var(--primary);
}
@media (max-width: 1250px) {
  .symptoms {
    padding: 40px 0;
  }
}

.symptoms__body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}

.symptoms__title {
  align-self: start;
  padding-bottom: 11px;
  border-bottom: 2px solid var(--primary-dark);
}
@media (max-width: 788px) {
  .symptoms__title {
    padding-bottom: 4px;
    border-width: 1px;
  }
}

.symptoms__main {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  color: var(--white);
}
@media (max-width: 1250px) {
  .symptoms__main {
    flex: 1;
  }
}

.symptoms__info {
  margin-bottom: 40px;
}
@media (max-width: 1250px) {
  .symptoms__info {
    max-width: 80%;
    margin-bottom: 30px;
  }
}
@media (max-width: 788px) {
  .symptoms__info {
    max-width: 90%;
    margin-bottom: 20px;
  }
}

.symptoms__subtitle {
  margin-bottom: 30px;
}
@media (max-width: 1250px) {
  .symptoms__subtitle {
    max-width: 80%;
  }
}
@media (max-width: 788px) {
  .symptoms__subtitle {
    max-width: 90%;
    margin-bottom: 20px;
  }
}

.symptoms__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 788px) {
  .symptoms__content {
    flex-direction: column;
    align-items: center;
  }
}

.symptoms__cards {
  margin-top: auto;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1250px) {
  .symptoms__cards {
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
    margin-top: 0;
  }
}

.symptoms__card {
  flex-basis: 30%;
}

.symptom {
  padding: 20px;
  font-size: 16px;
  color: var(--black);
}
@media (max-width: 788px) {
  .symptom {
    font-size: 14px;
  }
}

.symptoms__materials {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
@media (max-width: 1250px) {
  .symptoms__materials {
    display: none;
  }
}
.symptoms__materials--md {
  display: none;
}
@media (max-width: 1250px) {
  .symptoms__materials--md {
    display: flex;
  }
}

.symptoms__img {
  padding: 10px;
  background-color: var(--white);
  border: var(--standart-bd);
  border-radius: var(--radius);
}
@media (max-width: 788px) {
  .symptoms__img {
    max-width: 201px;
  }
}

.symptoms__btn {
  width: 100%;
}

.learning {
  background-image: url("../img/background/bg-08.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.learning__body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}
@media (max-width: 788px) {
  .learning__body {
    gap: 25px;
  }
}

.learning__row {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  column-gap: 64px;
  width: 100%;
}
@media (max-width: 1250px) {
  .learning__row {
    column-gap: 16px;
  }
}
.learning__row--reverse {
  flex-direction: row-reverse;
}
.learning__row--reverse img {
  transform: scaleX(-1);
}
@media (max-width: 788px) {
  .learning__row--reverse img {
    transform: scale(1);
  }
}
.learning__row--center {
  justify-content: center;
}

.learning__content {
  flex-basis: 60%;
}
@media (max-width: 788px) {
  .learning__content {
    flex-basis: 90%;
  }
}

.learning__direction {
  width: 110px;
}
@media (max-width: 788px) {
  .learning__direction {
    position: absolute;
    width: 50px;
  }
  .learning__direction--1 {
    right: 0;
    bottom: -16px;
  }
  .learning__direction--2 {
    left: 0;
    bottom: -16px;
  }
  .learning__direction--3 {
    right: -16px;
    bottom: -16px;
  }
}
.learning__direction--sm {
  width: 60px;
  transform: translateY(10px) rotate(-10deg);
}
@media (max-width: 788px) {
  .learning__direction--sm {
    display: none;
  }
}

.learning__card {
  max-width: 512px;
}
.learning__card p {
  padding: 20px;
}
@media (max-width: 1250px) {
  .learning__card {
    max-width: 319px;
  }
  .learning__card p {
    padding: 15px;
  }
}

.agency {
  background-image: url("../img/background/bg-08.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.agency__content {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 50px;
}
@media (max-width: 788px) {
  .agency__content {
    margin-bottom: 25px;
  }
}

.agency__text {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 30px;
}
@media (max-width: 1250px) {
  .agency__text {
    flex-basis: 80%;
  }
}
@media (max-width: 788px) {
  .agency__text {
    flex: 1;
    row-gap: 20px;
  }
}

.agency__img {
  width: 243px;
}
@media (max-width: 1250px) {
  .agency__img {
    width: 200px;
  }
}
@media (max-width: 788px) {
  .agency__img {
    display: none;
  }
}

.agency__staff {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (max-width: 1250px) {
  .agency__staff {
    column-gap: 20px;
  }
}

.agency__card {
  flex-basis: 45%;
}
@media (max-width: 1250px) {
  .agency__card {
    flex-shrink: 1;
    flex-grow: 1;
  }
}

.partners {
  background-image: url("../img/background/bg-08.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}
@media (max-width: 1250px) {
  .partners__list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
}
@media (max-width: 788px) {
  .partners__list {
    column-gap: 15px;
  }
}

.partners__item {
  flex-basis: 24%;
  flex-grow: 0;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}
@media (max-width: 1250px) {
  .partners__item {
    flex-basis: 30%;
    flex-grow: 1;
    row-gap: 8px;
  }
}

.partners__link,
a.partners__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: all 0.2s ease-in-out;
}
.partners__link:hover .partners__name,
a.partners__link:hover .partners__name {
  color: var(--primary-dark);
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}
.partners__link:active .partners__name,
a.partners__link:active .partners__name {
  color: var(--primary);
  transition: all 0.2s ease-in-out;
}

.partners__img {
  width: 214px;
  height: 214px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1250px) {
  .partners__img {
    width: 170px;
    height: 170px;
  }
}
@media (max-width: 788px) {
  .partners__img {
    width: 89px;
    height: 89px;
  }
}

.partners__name {
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--black);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 788px) {
  .partners__name {
    font-size: 10px;
  }
}

.footer {
  padding-top: 51px;
  padding-bottom: 20px;
  background-color: var(--primary);
  color: #fff;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 1250px) {
  .footer__info {
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo {
  max-width: 332px;
}

.footer__call {
  max-width: 423px;
}
@media (max-width: 1250px) {
  .footer__call {
    max-width: 329px;
  }
}

.footer__subtitle {
  margin-bottom: 15px;
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 26px;
  line-height: 110%;
}
@media (max-width: 1250px) {
  .footer__subtitle {
    font-size: 21px;
    text-align: center;
  }
}
@media (max-width: 788px) {
  .footer__subtitle {
    font-size: 16px;
  }
}

.footer__phones {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  font-weight: 800;
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 1250px) {
  .footer__phones {
    justify-content: space-between;
    gap: 30px;
    font-size: 17px;
  }
}
@media (max-width: 788px) {
  .footer__phones {
    flex-direction: column;
    row-gap: 4px;
    font-size: 13px;
  }
}

.footer__contacts {
  max-width: 248px;
}

.footer__designer {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.designer__name {
  margin-bottom: 8px;
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: var(--primary-dark);
}
@media (max-width: 1250px) {
  .designer__name {
    font-size: 27px;
  }
}
@media (max-width: 788px) {
  .designer__name {
    font-size: 24px;
  }
}

.designer__link,
a.designer__link {
  border-bottom: 1px solid var(--primary-dark);
  color: var(--primary-dark);
  transition: all 0.2s ease-in-out;
}
.designer__link:hover,
a.designer__link:hover {
  color: var(--white);
  border-color: var(--white);
  transition: all 0.2s ease-in-out;
}
.designer__link:active,
a.designer__link:active {
  color: var(--gray);
  border-color: var(--gray);
  transition: all 0.2s ease-in-out;
}

.footer__rules {
  text-align: center;
}
.footer__rules a {
  border-bottom: 1px solid #fff;
  font-size: 16px;
  color: var(--white);
  transition: all 0.2s ease-in-out;
}
.footer__rules a:hover {
  color: var(--primary-dark);
  border-color: var(--primary-dark);
  transition: all 0.2s ease-in-out;
}
.footer__rules a:active {
  color: var(--gray);
  border-color: var(--gray);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1250px) {
  .footer__rules a {
    font-size: 12px;
  }
}

.title {
  margin-bottom: 30px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  line-height: 100%;
  color: var(--primary-dark);
}
@media (max-width: 1250px) {
  .title {
    margin-bottom: 20px;
    font-size: 50px;
  }
}
@media (max-width: 788px) {
  .title {
    margin-bottom: 15px;
    font-size: 24px;
  }
}
.title--light {
  color: var(--white);
}
.title--sm {
  font-size: 48px;
}
@media (max-width: 1250px) {
  .title--sm {
    font-size: 36px;
  }
}
@media (max-width: 788px) {
  .title--sm {
    font-size: 24px;
  }
}

.btn,
a.btn {
  display: inline-block;
  padding: 28px 39px;
  border-radius: var(--radius);
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: var(--second-family);
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1250px) {
  .btn,
  a.btn {
    padding: 24px 39px;
    font-size: 13px;
  }
}
.btn--primary,
a.btn--primary {
  background-color: var(--primary-dark);
}
.btn--primary:hover,
a.btn--primary:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.btn--primary:active,
a.btn--primary:active {
  opacity: 1;
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
}
.btn--primary::after,
a.btn--primary::after {
  content: "";
  display: block;
  height: 28px;
  width: 15px;
  background-image: url("../img/icons/arrow-up-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1250px) {
  .btn--primary::after,
  a.btn--primary::after {
    height: 21px;
  }
}
.btn--wide,
a.btn--wide {
  width: 100%;
  height: 100%;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
}
.card .card__body {
  position: relative;
  z-index: 1;
  height: 100%;
  border: var(--standart-bd);
  border-radius: var(--radius);
  background-color: var(--white);
}
.card::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: var(--radius);
  background-color: var(--primary-dark);
}
.card--outline::after {
  border: var(--standart-bd);
  background-color: unset;
}

.heart {
  display: inline-block;
}
.heart--small {
  width: 53px;
  height: 53px;
}
@media (max-width: 1250px) {
  .heart--small {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 788px) {
  .heart--small {
    width: 18px;
    height: 18px;
  }
}
.heart--medium {
  width: 71px;
  height: 71px;
}
@media (max-width: 1250px) {
  .heart--medium {
    width: 57px;
    height: 57px;
  }
}
.heart--large {
  width: 76px;
  height: 76px;
}
@media (max-width: 1250px) {
  .heart--large {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 788px) {
  .heart--large {
    width: 30px;
    height: 30px;
  }
}

.person {
  display: grid;
  grid-template-columns: 163px auto;
  grid-template-rows: repeat(3, auto);
  gap: 15px 30px;
}
@media (max-width: 1250px) {
  .person {
    grid-template-columns: 112px auto;
    gap: 7px 15px;
  }
}
@media (max-width: 788px) {
  .person {
    grid-template-columns: 100px auto;
    gap: 7px 10px;
  }
}

.person__img {
  grid-row: span 3;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--standart-bd);
  border-radius: var(--radius);
}

.person__name {
  grid-row: span 1;
  padding-top: 17px;
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 26px;
  line-height: 100%;
}
@media (max-width: 1250px) {
  .person__name {
    padding-top: 12px;
    font-size: 18px;
  }
}
@media (max-width: 788px) {
  .person__name {
    font-size: 14px;
  }
}

.person__post {
  grid-row: span 1;
  font-size: 16px;
}
@media (max-width: 1250px) {
  .person__post {
    font-size: 12px;
  }
}
@media (max-width: 788px) {
  .person__post {
    font-size: 10px;
  }
}

.social__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
@media (max-width: 1250px) {
  .social__list {
    justify-content: center;
  }
}

.social__link,
a.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  width: 25px;
  height: 25px;
  background-color: var(--primary-dark);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.social__link:hover,
a.social__link:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

a.social__link--tg img {
  transform: translateX(-1px);
}
/*# sourceMappingURL=style.css.map */
