section.section.about#about
	.container
		.about__header
			.about__title
				h2.title Школа#[br]Маммологии
				p — это проект, который занимается сохранением и&nbsp;профилактикой здоровья женщин.
			.about__services 
				.card
					.about__service.card__body Самодиагностика
				.card
					.about__service.card__body Грудное вскармливание
				.card
					.about__service.card__body Строение и особенности работы женского организма
		.about__content
			.about__text
				p.
					Волонтеры данного проекта занимаются обучением женщин самодиагностике молочных желез, направленную на профилактику различных заболеваний, а также рака молочной железы. Помимо этого освещают вопросы женского здоровья.
			.about__text.about__text--reverse
				picture.about__arrow
					source(srcset="img/directions/about-arrow-md.png", media="(max-width: 1250px)")
					img(src="img/directions/about-arrow.png", alt="direction")
				p.
					Позволяет выявить проблемы на ранних стадиях и помогает девушкам и женщинам сохранить здоровье своего организма.
		img(src="img/heart.png", alt="decor").heart.heart--small.about__decor--1
		img(src="img/heart.png", alt="decor").heart.heart--medium.about__decor--2
		img(src="img/heart.png", alt="decor").heart.heart--large.about__decor--3
	.about__footer
		.container
			p Береги свое здоровье и здоровье своих близких вместе со Школой Маммологии!