section.section.about#about
	.container
		.about__header
			.about__title
				h2.title Школа#[br]Маммологии
				p — это проект, который&nbsp;занимается&nbsp;сохранением#[br]и&nbsp;профилактикой здоровья женщин.
			.about__services 
				.card
					.about__service.card__body Самодиагностика
				.card
					.about__service.card__body Грудное вскармливание
				.card
					.about__service.card__body Строение и особенности работы женского&nbsp;организма
		.about__content
			.about__text
				p
					span Волонтеры данного проекта занимаются обучением женщин самодиагностике молочных желез, направленную на&nbsp;профилактику различных заболеваний, а&nbsp;также рака молочной железы. 
					span Помимо&nbsp;этого освещают вопросы женского&nbsp;здоровья.
			.about__text.about__text--reverse
				picture.about__arrow
					source(srcset="img/directions/about-arrow-sm.svg", media="(max-width: 788px)")
					source(srcset="img/directions/about-arrow-md.svg", media="(max-width: 1250px)")
					img(src="img/directions/about-arrow.svg", alt="direction")
				p.
					Позволяет выявить проблемы на&nbsp;ранних стадиях и&nbsp;помогает девушкам&nbsp;и&nbsp;женщинам сохранить здоровье своего&nbsp;организма.
		img(src="img/heart.png", alt="decor").heart.heart--small.about__decor.about__decor--1
		img(src="img/heart.png", alt="decor").heart.heart--medium.about__decor.about__decor--2
		img(src="img/heart.png", alt="decor").heart.heart--large.about__decor.about__decor--3
	.about__footer
		.container
			p Береги свое здоровье и&nbsp;здоровье своих близких вместе со&nbsp;Школой Маммологии!