-
	const staff = [
		{
			'id': '1',
			'name': 'Владислав Дуброва',
			'post': 'Руководитель проекта'
		},
		{
			'id': '2',
			'name': 'Анастасия Добудько',
			'post': 'Зам руководителя проекта '
		},
		{
			'id': '3',
			'name': 'Михаил Севрюков',
			'post': 'Администратор проекта'
		},
		{
			'id': '4',
			'name': 'Екатерина Новик',
			'post': 'Координатор Волонтёрского движения Медицинского института по направлению «Онкопатруль»'
		}
	];

section.section.agency#partners
	.container
		h2.title Команда проекта
		.agency__content
			.agency__text
				p Хотим представить Вам людей, без которых не смогла бы существовать «Школа&nbsp;маммологии»!
				p Все эти люди усердно трудятся каждый день, чтобы Вы были осведомлены всей информацией о раке молочной железы, последних новостях в сфере маммологии и гинекологии, а также были обучены самодиагностике.
			.agency__img
				img(src="img/agency/puzzle.png", alt="Пазл")
		.agency__staff
			each person in staff
				- const { id, name, post } = person
				.agency__card
					+person(id, name, post)