-
	const staff = [
		{
			'id': '1',
			'name': 'Владислав Дуброва',
			'post': 'Руководитель проекта'
		},
		{
			'id': '2',
			'name': 'Анастасия Добудько',
			'post': 'Зам руководителя проекта '
		},
		{
			'id': '3',
			'name': 'Михаил Севрюков',
			'post': 'Администратор проекта'
		},
		{
			'id': '4',
			'name': 'Екатерина Новик',
			'post': 'Координатор Волонтёрского движения Медицинского института по&nbsp;направлению &laquo;Онкопатруль&raquo;'
		}
	];

section.section.agency#partners
	.container
		h2.title Команда проекта
		.agency__content
			.agency__text
				p Хотим представить Вам людей, без&nbsp;которых не&nbsp;смогла&nbsp;бы существовать &laquo;Школа&nbsp;маммологии&raquo;!
				p Все эти люди усердно трудятся каждый день, чтобы&nbsp;Вы были осведомлены всей информацией о&nbsp;раке молочной железы, последних новостях в&nbsp;сфере маммологии и&nbsp;гинекологии, а&nbsp;также были обучены самодиагностике.
			.agency__img
				picture
					source(srcset="img/agency/puzzle-md.png", media="(max-width: 1250px)")
					img(src="img/agency/puzzle.png", alt="Пазл")
		.agency__staff
			each person in staff
				- const { id, name, post } = person
				.agency__card
					+person(id, name, post)