header.header
	.container
		.header__row
			a.header__logo(href="#!")
				picture
					source(srcset="img/logo/logo-mobile.png", media="(max-width: 788px)")
					source(srcset="img/logo/logo-accent-md.png", media="(max-width: 1250px)")
					img(src="img/logo/logo-accent.png", alt="Logo").logo
			nav.main-nav
				ul.main-nav__list
					li.main-nav__item
						a.main-nav__link(href="#about") О&nbsp;проекте
					li.main-nav__item
						a.main-nav__link(href="#news") Новости
					li.main-nav__item
						a.main-nav__link(href="#statistics") Маммография
					li.main-nav__item
						a.main-nav__link(href="#learning") Обучение
					li.main-nav__item
						a.main-nav__link(href="#partners") Наши&nbsp;партнеры&nbsp;и&nbsp;агенты
					li.main-nav__item
						a.main-nav__link(href="#contacts") Контакты
			button#openMobileNav.header__nav-btn
				img(src='./img/icons/nav-btn-open.svg' alt='Open nav')