header.header
	.container
		.header__row
			a.header__logo(href="#!")
				img(src="img/logo/logo-accent.png", alt="Logo").logo
			nav.main-nav
				ul.main-nav__list
					li.main-nav__item
						a.main-nav__link(href="#!") О проекте
					li.main-nav__item
						a.main-nav__link(href="#!") Новости
					li.main-nav__item
						a.main-nav__link(href="#!") Маммография
					li.main-nav__item
						a.main-nav__link(href="#!") Обучение
					li.main-nav__item
						a.main-nav__link(href="#!") Наши партнеры и агенты
					li.main-nav__item
						a.main-nav__link(href="#!") Контакты