section.section.learning#learning
	.container
		h2.title Обучение
		.learning__body
			.learning__row
				p.learning__content.
					Проводя ежемесячные самообследования, вы сможете поддерживать здоровье своих молочных желез. Благодаря регулярной самодиагностике вы сможете заметить рост или появление опухоли и своевременно обратиться к врачу.
				.learning__direction
					img(src="img/directions/learning-arrow.png", alt="указатель")
			.learning__row.learning__row--reverse
				p.learning__content.
					«Школа маммологии» обучает женщин самодиагностике молочных желез, что помогает женщинами узнать правильность проведения самообследования, чтобы лучше понимать, какие изменения следует отслеживать и в каких случаях нужно обращаться к специалисту.
				.learning__direction
					img(src="img/directions/learning-arrow.png", alt="указатель")
			.learning__row
				p.learning__content.
					Мастер-класс по самодиагностике направлен на обучение женщин самообследованию в домашних условиях, для сохранения здоровья молочных желёз, а также профилактике и ранней диагностике различных заболеваний молочных желез женщин!
				.learning__direction
					img(src="img/directions/learning-arrow.png", alt="указатель")
			.learning__row.learning__row--reverse
				.learning__card
					.card
						.card__body
							p Мастер-класс включает два основных этапа и&nbsp;занимает 40 минут по времени.
				.learning__direction
							img(src="img/directions/learning-arrow-sm.png", alt="указатель")
			.learning__row.learning__row--center
				.learning__btn
					a(href="#!").btn.btn--primary Записаться онлайн