section.section.learning#learning
	.container
		h2.title Обучение
		.learning__body
			.learning__row
				p.learning__content.
					Проводя ежемесячные самообследования, вы&nbsp;сможете поддерживать здоровье своих молочных желез. Благодаря регулярной самодиагностике вы&nbsp;сможете заметить рост или появление опухоли и&nbsp;своевременно обратиться к&nbsp;врачу.
				.learning__direction.learning__direction--1
					picture
						source(srcset="img/directions/vector-28-sm.svg", media="(max-width: 788px)")
						source(srcset="img/directions/vector-28-md.svg", media="(max-width: 1250px)")
						img(src="img/directions/vector-28.svg", alt="указатель")
			.learning__row.learning__row--reverse
				p.learning__content.
					&laquo;Школа маммологии&raquo; обучает женщин самодиагностике молочных желез, что помогает женщинами узнать правильность проведения&nbsp;самообследования, чтобы лучше понимать, какие изменения следует отслеживать и&nbsp;в&nbsp;каких случаях нужно обращаться к&nbsp;специалисту.
				.learning__direction.learning__direction--2
					picture
						source(srcset="img/directions/vector-29-sm.svg", media="(max-width: 788px)")
						source(srcset="img/directions/vector-29-md.svg", media="(max-width: 1250px)")
						img(src="img/directions/vector-29.svg", alt="указатель")
			.learning__row
				p.learning__content.
					Мастер-класс по&nbsp;самодиагностике направлен на&nbsp;обучение женщин самообследованию в&nbsp;домашних условиях, для сохранения здоровья молочных желёз, а&nbsp;также профилактике и&nbsp;ранней диагностике различных заболеваний молочных желез женщин!
				.learning__direction.learning__direction--3
						picture
							source(srcset="img/directions/vector-30-sm.svg", media="(max-width: 788px)")
							source(srcset="img/directions/vector-30-md.svg", media="(max-width: 1250px)")
							img(src="img/directions/vector-30.svg", alt="указатель")
			.learning__row.learning__row--reverse
				.learning__card
					.card
						.card__body
							p Мастер-класс включает два основных этапа и&nbsp;занимает 40&nbsp;минут по&nbsp;времени.
				.learning__direction.learning__direction--sm
					picture
						source(srcset="img/directions/vector-31-md.svg", media="(max-width: 1250px)")
						img(src="img/directions/vector-31.svg", alt="указатель")
			.learning__row.learning__row--center
				.learning__btn
					a(href="#!").btn.btn--primary Записаться онлайн