section.mobile-nav
  h2.visually-hidden Мобильная навигация
  .mobile-nav__header
    a.mobile-nav__logo.logo(href='#!')
      img(src='img/logo/logo-mobile.png' alt='Школа Маммологии')
    button#closeMobileNav.mobile-nav__btn
      img(src='img/icons/nav-btn-close.svg' alt='Close navigation')
  .mobile-nav__body
    ul.mobile-nav-list
      li.main-nav__item
        a(href="#about") О&nbsp;проекте
      li
        a(href="#news") Новости
      li
        a(href="#statistics") Маммография
      li
        a(href="#learning") Обучение
      li
        a(href="#partners") Наши&nbsp;партнеры&nbsp;и&nbsp;агенты
      li
        a(href="#contacts") Контакты
