+article-modal('article-01', 'Приглашаем вас 23 ноября в&nbsp;12:00 на&nbsp;особенное мероприятие')
  p Дорогие девушки!
  p Приглашаем вас 23&nbsp;ноября в&nbsp;12:00&nbsp;на особенное мероприятие, посвящённое женскому здоровью и&nbsp;гармонии тела и&nbsp;души.
  p #[strong В&nbsp;программе:]
  p Небольшая лекция о&nbsp;женском здоровье: как заботиться о&nbsp;себе и&nbsp;сохранять баланс.
  p Обсудим, какое влияние стрейчинг оказывает на&nbsp;женское здоровье и&nbsp;как он&nbsp;помогает улучшить общее самочувствие.
  p Практика стрейчинга с&nbsp;опытным специалистом: плавные движения, расслабление и&nbsp;заряжающая энергия!
  p #[strong Ведущий мероприятия&nbsp;&mdash;] Дарья Лебедева
  p Это отличная возможность подарить себе внимание и&nbsp;заботу, поработать над телом и&nbsp;услышать его. Независимо от&nbsp;уровня подготовки, вы&nbsp;будете чувствовать себя комфортно и&nbsp;получите максимум пользы и&nbsp;удовольствия.
+article-modal('article-02', 'Продолжаем посещать различные учреждения области')
  p На&nbsp;страже вашего здоровья!
  p Волонтеры Школы маммологии, несмотря на&nbsp;порой непростую ситуацию, продолжают посещать различные учреждения области и&nbsp;далее активно проводить мастер-классы по&nbsp;самодиагностике молочных желёз.
  p Мы&nbsp;с&nbsp;нетерпением ждём следующих мероприятий, на&nbsp;которых наши прекрасные слушательницы могут получить актуальную и&nbsp;наиболее важную информацию о&nbsp;методах сохранения женского здоровья, а&nbsp;затем под чутким контролем наших волонтеров ещё и&nbsp;продемонстрировать знания на&nbsp;практике.
  p Приглашаем всех поближе ознакомиться с&nbsp;основой профилактики рака груди, то&nbsp;есть с&nbsp;самодиагностикой молочных желёз!
  p Выделения из&nbsp;молочных желез чаще всего свидетельствует о&nbsp;развитии патологических процессов. Исключение составляет период беременности и&nbsp;кормления ребенка. Выделения могут варьироваться по&nbsp;цвету и&nbsp;консистенции, появляться при сдавливании соска или произвольно.
  p Напоминаем, что при беспокоящих вас симптомах необходимо незамедлительно обращаться к&nbsp;врачу, чтобы избежать поздней диагностики заболевания.
+article-modal('article-03', 'Наши волонтеры посетили медицинский колледж НИУ&nbsp;&laquo;БелГУ&raquo;')
  p Расширяем кругозор!
  p В&nbsp;прошедшую пятницу, 11&nbsp;октября, наши волонтеры посетили медицинский колледж НИУ &laquo;БелГУ&raquo;.
  p На&nbsp;данной встрече, команда школы маммологии провела мастер&ndash;класс по&nbsp;самодиагностике для студенток колледжа. Помимо этого, волонтеры побеседовали с&nbsp;ними, как с&nbsp;будущими специалистами, поговорив о&nbsp;важности освещения тем&nbsp;женского&nbsp;здоровья.
  p Школа Маммологии с&nbsp;заботой о&nbsp;Вас!
+article-modal('article-04', 'Школа Маммологии на&nbsp;Таврида. Арт')
  p Участник команды проекта &laquo;Школа маммологии&raquo; Эмма&nbsp;Сарксян приняла участие в&nbsp;образовательном заезде Таврида.Арт &laquo;Наука&nbsp;как&nbsp;искусство&nbsp;2.0&raquo;.
  p Образовательный заезд &laquo;Наука как искусство 2.0&raquo; предоставил уникальную возможность расширить свой кругозор, развить творческий потенциал и&nbsp;научиться применять новые технологии в&nbsp;сфере искусства.
  p Эмма приняла участие в&nbsp;создании научных медиапроектов под&nbsp;руководством экспертов и&nbsp;наставников, способствующих популяризации науки и&nbsp;развитию междисциплинарного сотрудничества, а&nbsp;также поделилась опытом работы &laquo;Школы&nbsp;маммологии&raquo;.
  p Надеемся, что опыт, полученный в&nbsp;рамках заезда, вы&nbsp;сможете увидеть на&nbsp;наших ближайших мероприятиях.
