-
	const preventionCardsColl = [
		{
			num: '01',
			text: 'Если до&nbsp;этого вы&nbsp;уже делали маммографию, возьмите предыдущий снимок для отслеживания изменений'
		},
		{
			num: '02',
			text: 'Записывайтесь на&nbsp;маммографию с&nbsp;5&nbsp;по&nbsp;12&nbsp;день цикла, чтобы избежать отечности груди'
		},
		{
			num: '03',
			text: 'Если Вы&nbsp;кормящая женщина&nbsp;&mdash; то&nbsp;перед маммографией рекомендуется провести сцеживание'
		},
		{
			num: '04',
			text: 'Если у&nbsp;вас чувствительная молочная железа, то&nbsp;перед процедурой вы&nbsp;можете выпить обезболивающее'
		},
		{
			num: '05',
			text: 'В&nbsp;день процедуры пейте&nbsp;много&nbsp;воды'
		}
	];

section.section.prevention#prevention
	.container
		h2.prevention__title.title Профилактика
		.preveniton__body
			.prevention__info
				p.
					Для того, чтобы минимизировать риск развития заболевания, все женщины должны раз в&nbsp;год проходить профилактические обследования молочной&nbsp;железы. После достижения 40&nbsp;лет женщины должны совмещать профилактические осмотры с&nbsp;маммографией.
				.prevention__decor
					picture.prevention__arrow
						img(src="img/directions/vector-40.svg", alt="direction")
			.prevention__cards
				.prevention__card.prevention__card--main
					p Как подготовиться к&nbsp;маммографии:
				each prevCard in preventionCardsColl
					.prevention__card
						p.prevention__step!= prevCard.num
						p !{ prevCard.text }
