section.section.prevention
	.container
		h2.prevention__title.title Профилактика
		.preveniton__body
			.prevention__info
				p.
					Для того, чтобы минимизировать риск развития заболевания, все женщины должны раз в год проходить профилактические обследования молочной железы. После достижения 40 лет женщины должны совмещать профилактические осмотры с маммографией.
			.prevention__decor
				img(src="img/directions/loop-arrow.png", alt="Указатель")
			.prevention__cards
				.prevention__card.prevention__card--main
					p Как подготовиться к&nbsp;маммографии:
				.prevention__card
					p.prevention__step 01
					p Если до этого вы уже делали маммографию, возьмите предыдущий снимок для отслеживания изменений
				.prevention__card
					p.prevention__step 01
					p Если до этого вы уже делали маммографию, возьмите предыдущий снимок для отслеживания изменений
				.prevention__card
					p.prevention__step 01
					p Если до этого вы уже делали маммографию, возьмите предыдущий снимок для отслеживания изменений
				.prevention__card
					p.prevention__step 01
					p Если до этого вы уже делали маммографию, возьмите предыдущий снимок для отслеживания изменений
				.prevention__card
					p.prevention__step 01
					p Если до этого вы уже делали маммографию, возьмите предыдущий снимок для отслеживания изменений
