section.promo#promo
	.promo__header
		.container
			h1.promo__title
				span.promo__title-span--small Школа
				span.promo__title-span--large Маммологии

	.container
		.promo__body
			.promo__img
				picture
					source(srcset="img/promo/promo-md-01.jpg", media="(max-width: 1250px)")
					img(src="img/promo/promo-lg-01.jpg", alt="lection-1")
			.promo__img.promo__img--small
				picture
					source(srcset="img/promo/promo-md-02.jpg", media="(max-width: 1250px)")
					img(src="img/promo/promo-lg-02.jpg", alt="lection-2")
			.promo__btn
				a(href="#!").btn.btn--primary.btn--wide Записаться онлайн