section.promo
	.promo__header
		.container
			h1.promo__title
				span.promo__title-span--small Школа
				span.promo__title-span--large Маммологии

	.container
		.promo__body
			.promo__img
				img(src="img/promo/promo-1.jpg", alt="lection-1")
			.promo__img.promo__img--small
				img(src="img/promo/promo-2.jpg", alt="lection-2")
			.promo__btn
				a(href="#!").btn.btn--primary.btn--wide Записаться онлайн