section.promo#promo
	.promo__header
		.container
			h1.promo__title
				span.promo__title-span--small Школа
				span.promo__title-span--large Маммологии

	.container
		.promo__body
			.promo__img
				picture
					source(srcset="img/promo/promo-01-md.jpg", media="(max-width: 1250px)")
					img(src="img/promo/promo-01-lg.jpg", alt="lection-1")
			.promo__img.promo__img--small
				picture
					source(srcset="img/promo/promo-02-md.jpg", media="(max-width: 1250px)")
					//- source(srcset="img/promo/promo-lg-02.jpg")
					img(src="img/promo/promo-02-lg.jpg", alt="lection-2")
			.promo__btn
				a(href="https://forms.yandex.ru/u/677fae694936390a54494681/", target="_blank").btn.btn--primary.btn--wide Записаться онлайн