section.section.statistics
	.container
		.statistics__header
			h2.statistics__title.title.title--light Статистика
			.statistics__title-divider
			p.statistics__subtitle заболеваний раком молочной железы
		.statistics__content
			p.
				Заболевание раком молочной железы стремительно молодеет, и если раньше раком молочной железы болели в основном женщины старше 40 лет, то теперь все чаще встречаются случаи у молодых девушек репродуктивного возраста. К сожалению, многие женщины попадают к врачу уже на поздних стадиях заболевания, так как на ранних стадиях заболевание протекает бессимптомно.
		.statistics__cards
			.statistics__card
				.card.card--outline
					.statistics__card-body.card__body
						.statistics__card-content
							p От всех онкологических заболеваний рак молочной железы составляет 
						.statistics__index 11,7%
						.statistics__img
							img(src="img/statistics/cancerous-cells.png", alt="Раковые клетки")
			.statistics__card
				.card.card--outline
					.statistics__card-body.card__body
						.statistics__card-content
							p От всех случаев смертей от рака, смертность от рака молочной железы составляет
						.statistics__index 6,9%
						.statistics__img
							img(src="img/statistics/skeleton.png", alt="Скелет")
			.statistics__card
				.card.card--outline
					.statistics__card-body.card__body
						.statistics__card-content
							p В Белгородской области РМЖ занял лидирующую позицию среди других онкозаболеваний 
						.statistics__index 20,4%
						.statistics__img
							img(src="img/statistics/map.png", alt="Карта страны")
