section.section.statistics#statistics
	.container
		.statistics__header
			h2.statistics__title.title.title--light Статистика
			.statistics__title-divider
			p.statistics__subtitle заболеваний раком молочной железы
		.statistics__content
			p.
				Заболевание раком молочной железы стремительно молодеет, и&nbsp;если раньше раком молочной железы болели в&nbsp;основном женщины старше 40&nbsp;лет, то&nbsp;теперь все чаще встречаются случаи у&nbsp;молодых девушек репродуктивного возраста. К&nbsp;сожалению, многие женщины попадают к&nbsp;врачу уже на&nbsp;поздних стадиях заболевания, так как на&nbsp;ранних стадиях заболевание протекает бессимптомно.
		.statistics__cards
			.statistics__card
				.card
					.statistics__card-body.card__body
						.statistics__card-content
							p От&nbsp;всех онкологических заболеваний рак молочной железы составляет
						.statistics__index 11,7%
						.statistics__img.statistics__img--cancerous
							picture
								source(srcset="img/statistics/cancerous-sm.png", media="(max-width: 788px)")
								source(srcset="img/statistics/cancerous-md.png", media="(max-width: 1250px)")
								img(src="img/statistics/cancerous.png", alt="Раковые клетки")
			.statistics__card
				.card
					.statistics__card-body.card__body
						.statistics__card-content
							p От&nbsp;всех случаев смертей от&nbsp;рака, смертность от&nbsp;рака молочной железы составляет
						.statistics__index 6,9%
						.statistics__img.statistics__img--skeleton
							picture
								source(srcset="img/statistics/skeleton-sm.png", media="(max-width: 788px)")
								source(srcset="img/statistics/skeleton-md.png", media="(max-width: 1250px)")
								img(src="img/statistics/skeleton.png", alt="Скелет")
			.statistics__card
				.card
					.statistics__card-body.card__body
						.statistics__card-content
							p В&nbsp;Белгородской области РМЖ занял лидирующую позицию среди других онкозаболеваний
						.statistics__index 20,4%
						.statistics__img.statistics__img--map
							picture
								source(srcset="img/statistics/map-sm.png", media="(max-width: 788px)")
								source(srcset="img/statistics/map-md.png", media="(max-width: 1250px)")
								img(src="img/statistics/map.png", alt="Карта страны")
