-
	const symptoms = [
		'Выраженная ассиметрия молочных&nbsp;желез',
		'<span>Наличие </span><span>уплотнений</span>',
		'Изменение состояния кожи&nbsp;и&nbsp;сосков',
		'Наличие болезненности, покраснений, синяков',
		'Наличие патологических выделений',
	];

section.section.symptoms#symptoms
	.container
		.symptoms__body 
			.symptoms__main
				h2.symptoms__title.title.title--light Симптомы
				p.symptoms__info Помимо регулярных профилактических осмотров, маммографию можно пройти по&nbsp;симптоматическим показаниям.
				h3.symptoms__subtitle
					span Если вы&nbsp;наблюдаете у&nbsp;себя эти симптомы, 
					span то&nbsp;необходимо записаться на&nbsp;прием к&nbsp;гинекологу&nbsp;или&nbsp;маммологу:
				.symptoms__content
					ul.symptoms__cards
						each item in symptoms
							li.symptoms__card
								.card
									p.card__body.symptom !{item}
					.symptoms__materials.symptoms__materials--md
						.symptoms__img
							img(src="img/methodological_materials/flayer.png", alt="Флаер Симптомы")
						.symptoms__btn
							a.btn.btn--primary.btn--wide(href="#!") Скачать буклет
			.symptoms__materials
				.symptoms__img
					img(src="img/methodological_materials/flayer.png", alt="Флаер Симптомы")
				.symptoms__btn
					a.btn.btn--primary.btn--wide(href="#!") Скачать буклет