@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:regular,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Unbounded:300,regular);
@import url(https://fonts.googleapis.com/css?family=Bad+Script:regular);

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-family);
	font-size: 20px;
	line-height: 140%;
	color: var(--black);

	@include tablet {
		font-size: 15px;
	}

	@include mobile {
		font-size: 14px;
	}
}

.section {
	padding: 50px 0;
}