.about {
	background-image: url('../img/background/bg-02.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	@include mobile {
		background-image: url('../img/background/bg-02-sm.jpg');
	}
}

.about__header {
	position: relative;
	margin-bottom: 40px;

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 106px;

	@include tablet {
		flex-direction: column;
		align-items: stretch;
		gap: 40px;
	}
}

.about__title {
	@include tablet {
		max-width: 413px;
	}
}

.about__services {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 30px;
}

.about__service {
	width: 100%;
	padding: 18px;

	text-align: center;
}

.about__content {
	margin-bottom: 67px;

	display: flex;
	flex-direction: column;
	row-gap: 35px;

	@include tablet {
		row-gap: 74px;
	}

	@include mobile {
		margin-bottom: 30px;
		row-gap: 20px;
	}
}

.about__text {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 15px;

	&--reverse {
		justify-content: flex-end;
	}

	p {
		flex-basis: 60%;

		@include tablet {
			flex-basis: 70%;
		}

		@include mobile {
			flex-basis: 90%;
			flex-grow: 1;
			flex-shrink: 1;
		}
	}

	span {
		@include tablet {
			display: block;
		}

		@include mobile {
			display: inline;
		}
	}
}

.about__arrow {
	display: block;
	position: absolute;
	top: -10px;
	left: 30%;

	transform: translateX(-50%);

	@include tablet {
		top: -35px;
		left: 20%;
		transform: translateX(-50%) rotate(10deg);
	}

	@include mobile {
		width: 32px;
		position: relative;
		top: -25px;
		left: 20px;
		transform: translateX(-50%) rotate(10deg);
	}
}

.about__footer {
	padding: 10px 0;

	background-color: var(--primary);
	color: var(--white);
	text-align: center;

	@include tablet {
		font-size: 15px;
	}

	@include mobile {
		font-size: 12px;
	}
}

.about__decor {
	position: absolute;
	display: inline-block;

	&--1 {
		top: 0;
		left: 40%;
		transform: rotate(-15.77deg) translate(-50%, -50%);

		@include tablet {
			top: unset;
			bottom: 0%;
			left: 10%;
			transform: rotate(-15.77deg) translate(-50%, 50%);
		}

		@include mobile {
			bottom: 15%;
			left: unset;
			right: 10%;
			transform: rotate(15deg);
		}
	}

	&--2 {
		top: 73%;
		right: 15%;
		transform: rotate(16.87deg) translateY(-50%);

		@include tablet {
			top: unset;
			bottom: 12%;
		}

		@include mobile {
			opacity: 0;
		}
	}

	&--3 {
		bottom: -10px;
		left: 10%;
		transform: rotate(-15.77deg) translate(-50%, 0);

		@include tablet {
			top: 10%;
			bottom: unset;
			left: unset;
			right: 20%;
			transform: rotate(16.87deg) translateY(-50%);
		}

		@include mobile {
			top: 4%;
			right: 8%;
		}
	}
}