.agency {
	background-image: url('../img/background/bg-08.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  background-attachment: fixed;
}

.agency__content {
	margin-bottom: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 50px;

	@include tablet {
		column-gap: 10px;
	}

	@include mobile {
		margin-bottom: 25px;
	}
}

.agency__text {
	flex-basis: 60%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	row-gap: 30px;

	@include tablet {
		flex-basis: 90%;
	}

	@include mobile {
		flex: 1;
		row-gap: 20px;
	}

	p:first-child {
		max-width: 540px;

		@include tablet {
			max-width: 400px;
		}

		@include mobile {
			max-width: 290px;
		}
	}
}

.agency__img {
	flex-shrink: 0;

	@include mobile {
		display: none;
	}
}

.agency__staff {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;

	@include tablet {
		column-gap: 20px;
	}
}

.agency__card {
	flex-basis: 45%;

	@include tablet {
		flex-shrink: 1;
		flex-grow: 1;
	}
}
