.agency {
}

.agency__content {
	margin-bottom: 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	column-gap: 50px;
}

.agency__text {
	flex-basis: 70%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	row-gap: 30px;

	@include tablet {
		flex-basis: 80%;
	}
}

.agency__img {
	width: 243px;

	@include tablet {
		width: 200px;
	}
}

.agency__staff {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;

	@include tablet {
		column-gap: 20px;
	}
}

.agency__card {
	flex-basis: 45%;

	@include tablet {
		flex-shrink: 1;
		flex-grow: 1;
	}
}
