.learning {
}

.learning__body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 30px;
}

.learning__row {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	column-gap: 64px;
	width: 100%;

	@include tablet {
		column-gap: 16px;
	}

	&--reverse {
		flex-direction: row-reverse;

		img {
			transform: scaleX(-1);
		}
	}

	&--center {
		justify-content: center;
	}
}

.learning__content {
	flex-basis: 60%;
}

.learning__direction {
	width: 110px;
	// transform: scale(0.6);

	&--sm {
		width: 60px;
		transform: translateY(10px) rotate(-10deg);
	}
}

.learning__card {
	max-width: 512px;

	p {
		padding: 20px;
	}

	@include tablet {
		max-width: 319px;

		p {
			padding: 15px;
		}
	}
}