.learning {
	background-image: url('../img/background/bg-08.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  background-attachment: fixed;
}

.learning__body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 40px;

	@include mobile {
		gap: 25px;
	}
}

.learning__row {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	column-gap: 64px;
	width: 100%;

	@include tablet {
		column-gap: 32px;
	}

	@include mobile {
		column-gap: 12px;
	}

	&--reverse {
		flex-direction: row-reverse;

		img {
			transform: scaleX(-1);

			@include mobile {
				transform: scale(1);
			}
		}
	}

	&--center {
		justify-content: center;
	}
}

.learning__content {
	flex-basis: 60%;
	
	&--1 {
		flex-basis: 50%;
	}

	&--2 {
		flex-basis: 85%;
	}

	&--3 {

	}

	@include tablet {
		&--1 {
			flex-basis: 65%;
		}

		&--2 {
			flex-basis: 95%;
		}

		&--3 {
			flex-basis: 90%;
		}
	}


	@include mobile {
		flex-basis: 80%;
		
		&--3 {
			flex-basis: 82%;
		}
	}
}

.learning__direction {
	flex-basis: 40%;

	&--2 {
		transform: scaleX(-1);
	}

	&--sm {
		transform: translateX(20px) scaleX(-1);
	}

	@include tablet {
		&--sm {
			transform: translateY(12px) scaleX(-1);
		}
	}

	@include mobile {
		flex-basis: 10%;

		&--1 {
			transform: rotate(45deg);
		}

		&--2 {
			transform: scaleX(1);
		}

		&--sm {
			display: none;
		}
	}
}

.learning__card {
	max-width: 512px;

	p {
		padding: 20px;
	}

	@include tablet {
		max-width: 319px;

		p {
			padding: 15px;
		}
	}
}