.main-nav {
	@include mobile {
		display: none;
	}
}
.main-nav__list {
	display: flex;
	align-items: center;
	column-gap: 30px;

	@include tablet {
		column-gap: 15px;
	}
}

.main-nav__item {
}

.main-nav__link,
a.main-nav__link {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 6px 18px;
	border: var(--standart-bd);
	border-radius: var(--radius);

	font-family: var(--font-family);
	font-size: 18px;
	color: var(--black);

	transition: all .3s ease-in-out;

	@include tablet {
		padding: 4px 8px;
		font-size: 12px;
	}

	&:hover {
		color: var(--primary);
		border-color: var(--primary);
		transition: all .3s ease-in-out;
	}

	&:focus,
	&:active {
		color: var(--white);
		background-color: var(--primary-dark);
		border-color: var(--primary-dark);
		transition: all .3s ease-in-out;
	}
}