.prevention {
}

.prevention__title {
}

.preveniton__body {
	position: relative;
}

.prevention__info {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	margin-bottom: 40px;

	p {
		max-width: 50%;
	}
}

.prevention__decor {
	position: absolute;
	top: 20%;
	left: 30%;
	transform: scaleX(-1);

	@include tablet {
		top: 15%;
		left: 20%;
	}
}

.prevention__cards {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 30px;

	@include tablet {
		gap: 20px;
	}
}

.prevention__card {
	flex-basis: 31%;
	min-width: 106px;

	padding: 20px;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-start;
	column-gap: 10px;
	border-radius: var(--radius);

	font-size: 16px;
	line-height: 120%;
	color: var(--white);

	background-color: var(--primary-dark);

	@include tablet {
		padding: 15px;
		font-size: 12px;
	}

	&--main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: var(--standart-bd) ;
		background-color: var(--white);

		p {
			font-size: 24px;
			line-height: 100%;
			font-family: var(--second-family);
			color: var(--primary-dark);
			text-align: center;

			@include tablet {
				font-size: 16px;
			}
		}
	}
}

.prevention__step {
	font-family: var(--second-family);
	font-weight: 300;
	font-size: 32px;
	line-height: 100%;
	color: var(--primary);

	@include tablet {
		font-size: 21px;
	}
}