.promo {}

.promo__header {
	padding: 25px 0;
	display: flex;
	align-items: center;
	background-color: var(--primary);
}

.promo__title {
	font-family: var(--second-family);
	font-size: 40px;
	
	color: var(--white);
}

.promo__title-span--small {
	display: block;
	margin-left: 120px;
	line-height: 100%;
}

.promo__title-span--large {
	display: inline-block;
	margin-top: -22px;
	font-size: 100px;
	line-height: 100px;
}

.promo__body {
	padding-top: 37px;
	padding-bottom: 50px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto 84px;
	gap: 30px;
}

.promo__img {
	grid-row: span 2;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid var(--primary-dark);
	border-radius: var(--radius);
	overflow: hidden;

	&--small {
		grid-row: span 1;
	}
}

.promo__btn {
	grid-row: span 1;
}