.promo {
	background-image: url('../img/background/bg-01.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.promo__header {
	padding: 25px 0;
	display: flex;
	align-items: center;
	background-color: var(--primary);

	@include tablet {
		padding: 15px 0;
	}

	@include mobile {
		padding: 7px 0;
	}
}

.promo__title {
	font-family: var(--second-family);
	font-size: 40px;
	
	color: var(--white);

	@include tablet {
		font-size: 31px;
	}

	@include mobile {
		font-size: 20px;
	}
}

.promo__title-span--small {
	display: block;
	margin-left: 120px;
	line-height: 100%;

	@include tablet {
		margin-left: 90px;
	}

	@include mobile {
		margin-left: 38px;
	}
}

.promo__title-span--large {
	display: inline-block;
	margin-top: -22px;
	font-size: 100px;
	line-height: 100px;

	@include tablet {
		margin-top: -16px;
		font-size: 77px;
		line-height: 77px;
	}

	@include mobile {
		margin-top: -8px;
		font-size: 32px;
		line-height: 32px;
	}
}

.promo__body {
	padding-top: 37px;
	padding-bottom: 50px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto 84px;
	align-items: center;
	justify-content: center;
	gap: 30px;

	@include tablet {
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
	}

	@include mobile {
		padding-top: 20px;
		gap: 15px;
	}
}

.promo__img {
	grid-row: span 2;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid var(--primary-dark);
	border-radius: var(--radius);
	overflow: hidden;

	@include tablet {
		grid-row: span 1;
	}

	&--small {
		grid-row: span 1;
	}
}

.promo__btn {
	grid-row: span 1;

	@include tablet {
		margin: 0 auto;

		width: 340px;
		height: 65px;
	}
}