.symptoms {
	background-color: var(--primary);
}

.symptoms__body {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 30px;
}

.symptoms__title {
	align-self: start;
	padding-bottom: 11px;
	border-bottom: 2px solid var(--primary-dark);

	@include mobile {
		padding-bottom: 4px;
		border-width: 1px;
	}
}

.symptoms__main {
	flex-basis: 70%;

	display: flex;
	flex-direction: column;

	color: var(--white);

	@include tablet {
		flex: 1;
	}
}

.symptoms__info {
	margin-bottom: 40px;
	max-width: 610px;

	@include tablet {
		max-width: 65%;
		margin-bottom: 30px;
	}

	@include mobile {
		max-width: 90%;
		margin-bottom: 20px;
	}
}

.symptoms__subtitle {
	margin-bottom: 30px;
	max-width: 80%;

	@include tablet {
		max-width: 80%;
	}

	@include mobile {
		max-width: 90%;
		margin-bottom: 20px;
	}

	span {
		display: block;

		@include mobile {
			display: inline;
		}
	}
}

.symptoms__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 30px;

	@include mobile {
		flex-direction: column;
		align-items: center;
	}
}

.symptoms__cards {
	margin-top: auto;

	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	gap: 30px;

	@include tablet {
		flex-basis: 50%;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: nowrap;
		height: 100%;

		margin-top: 0;
	}
}

.symptoms__card {
	flex-basis: 30%;
}

.symptom {
	padding: 20px;

	font-size: 16px;
	color: var(--black);

	@include mobile {
		font-size: 14px;
	}

	span {
		display: block;

		@include tablet {
			display: inline;
		}
	}
}

.symptoms__materials {
	width: 275px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	gap: 32px;

	@include tablet {
		display: none;
		gap: 20px;
	}

	&--md {
		display: none;

		@include tablet {
			display: flex;
		}
	}
}

.symptoms__img {
	padding: 10px;

	background-color: var(--white);
	border: var(--standart-bd) ;
	border-radius: var(--radius);
	transition: transform .3s ease-in-out;

	@include mobile {
		max-width: 201px;
	}

	&:hover {
		transform: translateX(-10px) scale(1.1);
		transition: transform .3s ease-in-out;
	}
}
.symptoms__btn {
	width: 100%;
}
