mixin partner(name, imgPath)
  - const path = `img/partners/${imgPath}`;

  li.partners__item
    a.partners__link(href="#!")
      img(src=path, alt="partner logo").partners__img
      .partners__name
        span= name