include ../mixins/news-article.pug
include ../mixins/person.pug
include ../mixins/partner.pug
include ../mixins/article-modal.pug

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="icon", href="img/favicon/favicon.ico")
		title Школа Маммологии
		link(rel="stylesheet", href="css/style.css")
	body
		include includes/header
		include includes/mobile-nav

		main.main
			include includes/promo
			include includes/about
			include includes/news
			include includes/statistics
			include includes/prevention
			include includes/symptoms
			include includes/learning
			include includes/agency
			include includes/partners

		include includes/footer
		include includes/news-modal.pug
		include includes/manual-modal.pug
		include includes/top-link.pug

		script(src="js/modules/mobile-nav.js")
		script(src="js/modules/swiper-bundle.min.js")
		script(src="js/modules/fancybox.umd.js")
		script(src="js/modules/modal.js")
		script(src="js/modules/scroll-top.js")
		script(src="js/index.js")