include ../mixins/news-article.pug
include ../mixins/person.pug
include ../mixins/partner.pug

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Школа Маммологии
		link(rel="stylesheet", href="css/style.css")
	body
		include includes/header
		include includes/mobile-nav

		main.main
			include includes/promo
			include includes/about
			include includes/news
			include includes/statistics
			include includes/prevention
			include includes/symptoms
			include includes/learning
			include includes/agency
			include includes/partners

		include includes/footer

		script(src="js/index.js")