.social__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.social__item {
}

.social__link,
a.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 6px;

  width: 25px;
  height: 25px;

  background-color: var(--primary-dark);
  border-radius: 50%;

  transition: all .2s ease-in-out;

  &:hover {
    opacity: 0.8;
    transition: all .2s ease-in-out;
  }
}

a.social__link--tg img {
  transform: translateX(-1px);
}