.title {
	margin-bottom: 30px;

	font-family: var(--second-family);
	font-weight: 400;
	font-size: 75px;
	line-height: 100%;
	color: var(--primary-dark);

	@include tablet {
		margin-bottom: 20px;
		font-size: 50px;
	}

	@include mobile {
		margin-bottom: 15px;
		font-size: 24px;
	}

	&--light {
		color: var(--white);
	}

	&--sm {
		font-size: 48px;

		@include tablet {
			font-size: 36px;
		}

		@include mobile {
			font-size: 24px;
		}
	}
}

